* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 20px;
    position: relative;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
    list-style: none;
    transition: transform 0.5s;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger .line {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
}

.content {
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .nav-links {
        visibility: hidden;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        transform: translateY(-100%)
    }

    .nav-links.active {
        visibility: visible;
        transform: translateY(0)
    }

    .nav-links li {
        margin: 15px 0;
        text-align: center;
    }

    .nav-links li a:hover {
        color: tomato;
    }

    .burger {
        display: flex;
    }
}